{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ titulo }}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/personalizados/global.css'%}">
    <!-- SLIDER -->
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'css/font-awesome.css'%}"> -->
    <link rel="stylesheet"  href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" type="text/css">

    <script src="{% static 'js/jquery-3.1.0.min.js'%}"></script>
  	<script src="{% static 'js/main.js'%}"></script>

    <!-- END SLIDER -->

    <!-- TESTIMONIOS -->
    <!-- <link rel="stylesheet" href="{% static 'css/testimonios/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'css/testimonios/owl.theme.css'%}">
    <link rel="stylesheet" href="{% static 'css/testimonios/owl.transitions.css'%}">
    <link rel="stylesheet" href="{% static 'css/testimonios/style.css'%}">
-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'testimonios/sss/sss.css'%}">
    <link rel="stylesheet" href="{% static 'testimonios/testimonio-estilos.css'%}">

    <script type="text/javascript" src="{% static 'testimonios/sss/sss.js'%}"></script>
    <script>
        jQuery(function($){
            $('.slider-testimonial').sss({
              slideShow : true,
              speed : 5000
            });
        });
    </script>




      <!-- END TESTIMONIOS -->
</head>
<body>
  <div class="">
    {% include 'home/slider.html' %}
  </div>

    {% block menu %}
    <div class="menu-principal">


      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home:index'%}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:legalidad'%}">Legalidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:quienes_somos'%}">Quiénes somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:testimonios'%}">Testimonios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:ed_financiera'%}">Ed. Financiera</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:contactenos'%}">Contáctenos</a>
            </li>
          </ul>

        </div>
        </div>
      </nav>
    </div>

    {% endblock %}


    {% block content %}
    <!-- CONTENIDO -->
    {% endblock %}

    {% block footer %}
    {% include 'home/testimonios_slider.html'%}
    {% endblock %}

<script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
<script type="text/javascript">
  $("#username").focus();
</script>
<!-- <script src="{% static 'js/testimonios/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/testimonios/jquery.nivo.slider.pack.js'%}"></script>
<script src="{% static 'js/testimonios/jquery.meanmenu.min.js'%}"></script>
<script src="{% static 'js/testimonios/wow.min.js'%}"></script>
<script src="{% static 'js/testimonios/jquery-price-slider.js'%}"></script>
<script src="{% static 'js/testimonios/jquery.simpleLens.min.js'%}"></script>
<script src="{% static 'js/testimonios/jquery.scrollUp.min.js'%}"></script>
<script src="{% static 'js/testimonios/main.js'%}"></script> -->
{% block scripts %}

{% endblock %}



</body>
</html>
