{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ titulo }}</title>

    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet"  href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" type="text/css">

    <!-- Page level plugin CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/personalizados/global.css'%}">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="{% url 'usuario:principal' %}">LOGO EMPRESA</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">{{cantidad_notificaciones}}+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right box-notificacion" aria-labelledby="alertsDropdown">
            {%for notificacion in notificaciones%}

            {% ifequal notificacion.tipo 'deposito' %}
              {%ifequal notificacion.estado 0 %}
              <a class="dropdown-item notificacion-no-leido" href="#">
                Haz recibido un depósito de parte de<br>
                <b>{{notificacion.id_emisor.nombres}} {{notificacion.id_emisor.apellido_paterno}} {{notificacion.id_emisor.apellido_materno}}</b>
                . El dinero será transferido <br>
                a su cuenta bancaria dentro de 48 horas.<br>
                <b>{{notificacion.fecha_registro}}</b>
              </a>
              {%else%}
              <a class="dropdown-item notificacion-leido" href="#" >
                Haz recibido un depósito de parte de<br>
                <b>{{notificacion.id_emisor.nombres}} {{notificacion.id_emisor.apellido_paterno}} {{notificacion.id_emisor.apellido_materno}}</b>
                . El dinero será transferido <br>
                a su cuenta bancaria dentro de 48 horas.<br>
                <b>{{notificacion.fecha_registro}}</b>
              </a>
              {%endifequal%}

            {% endifequal %}
            <!-- <div class="dropdown-divider"></div> -->
            {% endfor %}
            <!-- <a class="dropdown-item" href="#">Another action</a> -->
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <!-- <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'usuario:perfil' %}">Perfil</a>
            <a class="dropdown-item" href="#">Actividades</a>
            <a class="dropdown-item" href="{% url 'testimonio:testimonio_registrar' %}">Mi testimonio</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Salir</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li>
          <div class="main-box-welcome">
            <div class="testimonio-photo">
              <img src="{% static 'media/' %}{{usuario.foto_perfil}}" alt="" class="photo">
            </div>

            <div class="testimonio-name text-center">
              <h6 class="main-welcome"><i class="fa fa-circle text-success small"></i> Bienvenido {{usuario.nombres}}</h6>
            </div>
          </div>
          <hr>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'usuario:principal' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Principal</span>
          </a>
        </li>

        <li class="nav-item">
          <!-- <a class="nav-link" href="{% url 'deposito:index' %}"> -->
          <a class="nav-link" href="{% url 'deposito:deposito_solicitud' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Deposito</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'solicitud:index' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Solicitud</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          {% block breadcrumb %}
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'usuario:principal' %}">Principal</a>
            </li>
            <!-- <li class="breadcrumb-item active">Overview</li> -->
          </ol>
          {% endblock %}
          {% block content %}
          {% endblock %}

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que desea salir?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Seleccionar "Salir" si quiere cerrar la sesión.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{% url 'logout'%}">Salir</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <!-- <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'vendor/js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <!-- <script src="{% static 'vendor/js/datatables-demo.js' %}"></script> -->
    <!-- <script src="{% static 'vendor/js/chart-area-demo.js' %}"></script> -->

    {% block scripts %}
    {% endblock %}

  </body>

</html>
