{% extends 'base/base.html'%}

{%block content%}

<div class="container">

  <div class="row">
  <div class="col-md-9 box-body">
    <h1>Contáctenos</h1>
  <div class="box-body-content">
    <form class="" action="{% url 'home:contactenos'%}" method="post">

      {% csrf_token %}


      {% ifequal success 'success' %}


        <div class="alert-success">
          <h5 class="text-success">Su mensaje fue recibido con éxito, nos pondremos en contacto a su correo electrónico.</h5>
        </div>

      {% endifequal %}


      <div class="form-group">
        <label for="">Nombre:</label>
        <input type="text" id="nombre" placeholder="Nombre" class="form-control" required name="nombre">

      </div>
      <div class="form-group">
        <label for="">Correo electrónico:</label>
        <input type="email" id="email" placeholder="Correo electrónico" class="form-control" name="email">
        <div id="xmail" hidden> <h6 class="text-danger small">Ingresa un correo electrónico valido</h6> </div>
      </div>
      <div class="form-group">
        <label for="">Mensaje:</label>
        <textarea id="message" rows="5" cols="80" class="form-control" maxlength="200" required name="mensaje"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="" value="Enviar" class="btn btn-primary">
      </div>
    </form>
  </div>
  </div>
    <!-- LOGIN FORM -->



  <div class="col-md-3 box-login small">
    {% include 'home/login.html'%}
  </div>


      <!-- <div class="col-md-3 box-login small">

      </div> -->


    <!-- END LOGIN FORM -->
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$("#nombre").focus();
// funcion para validar el correo
function caracteresCorreoValido(email, div){
    // console.log(email);
    //var email = $(email).val();
    var caract = new RegExp(/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/);

    if (caract.test(email) == false){
      $("#xmail").removeAttr('hidden')
        // $(div).hide().removeClass('hide').slideDown('fast');
// $("#xmail").html("<h6 class='text-danger small'>Ingresa un correo electrónico valido</h6>");
        return false;
    }else{
      $("#xmail").hide();
        // $(div).hide().addClass('hide').slideDown('slow');
//        $(div).html('');
        return true;
    }
}
  // cuando pierde el foco, este valida si lo que esta en el campo de texto si es un correo o no y muestra una respuesta
  $('form').find('input[type=email]').blur(function(){
    caracteresCorreoValido($(this).val(), '#xmail')

    // $("#xmail").html("<h6 class='text-danger small'>Ingresa un correo electrónico valido</h6>");
  });
</script>
{% endblock %}
