{% extends 'base/base.html'%}
{% load staticfiles%}
{%block content%}
<div class="container">
  <div class="row">
    <!-- <div class="col-md-1">

    </div> -->
  <div class="col-md-9 box-body">
  {% include 'home/body.html'%}
  </div>
    <!-- LOGIN FORM -->



  <div class="col-md-3 box-login small">
    {% include 'home/login.html'%}
  </div>


      <!-- <div class="col-md-3 box-login small">

      </div> -->


    <!-- END LOGIN FORM -->
  </div>
</div>
  {%endblock%}

  {% block scripts %}
  <script type="text/javascript">
    $("#username").focus();
  </script>
  {% endblock %}
