{% extends 'base/base.html'%}
{% load staticfiles%}
{%block content%}
<div class="container">
  <div class="row">
    <!-- <div class="col-md-1">

    </div> -->
  <div class="col-md-9 box-body">
  {% include 'home/body.html'%}
  </div>
    <!-- LOGIN FORM -->


      {% if usuario %}
      <div class="col-md-3 box-login small">

        <div class="row">
          <div class="testimonio-photo">
            <img src="{% static 'media/' %}{{usuario.foto_perfil}}" alt="" class="photo">
          </div>

          <div class="testimonio-name text-center col-md-12">
            <h6>Bienvenido {{usuario.nombres}}</h6>
          </div>

          <div class="text-center col-md-12">
            <div class="row">
              <div class="col-md-3">

              </div>
              <div class="col-md-3 text-center">
                <a href="{% url 'usuario:principal'%}" ><span class="fa fa-home" style="font-size:20px;"></span><br>Home</a>
              </div>
              <div class="col-md-3 text-center">
                <a href="{% url 'logout'%}"><span class="fa fa-sign-out-alt" style="font-size:20px"></span><br>Salir</a>
              </div>
            </div>



          </div>
        </div>





      </div>
      {% else %}
      <div class="col-md-3 box-login small">
        <h4>Ingresar</h4>
        <hr>
        <form class="" method="POST" action="{% url 'home:index' %}">
          {% csrf_token %}

          <div class="">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" placeholder="Nombre de usuario" class="form-control-p">
          </div>
          <div class="">
            <label for="contrasena">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" class="form-control-p">
          </div>

          <button type="submit" name="button" class="btn btn-primary btn-sm">Ingresar</button>
          <a href="{% url 'usuario:registrar_usuario'%}">¿No tienes una cuenta? Registrate</a>
        </form>
      </div>
      {% endif %}

    <!-- END LOGIN FORM -->
  </div>





{%endblock%}
