{% extends 'base/base.html'%}

{%block content%}

<div class="container">

  <div class="row">

  <div class="col-md-9 box-body">

    <div class="box-body-content">
      {%for item in legalidad%}
      <h1>{{item.titulo}}</h1>
      {{item.contenido|safe}}
      {% endfor %}
    </div>
  </div>

    <!-- LOGIN FORM -->



  <div class="col-md-3 box-login small">
    {% include 'home/login.html'%}
  </div>


      <!-- <div class="col-md-3 box-login small">

      </div> -->


    <!-- END LOGIN FORM -->
  </div>
</div>

{% endblock %}
