{% extends 'base/base.html'%}

{%block content%}

<div class="container">

  <div class="row">

  <div class="col-md-9 box-body">
    <h1>{{quienes_somos.titulo}}</h1>
    <div class="box-body-content">
      {{quienes_somos.contenido}}
    </div>
  </div>
    <!-- LOGIN FORM -->



  <div class="col-md-3 box-login small">
    {% include 'home/login.html'%}
  </div>


      <!-- <div class="col-md-3 box-login small">

      </div> -->


    <!-- END LOGIN FORM -->
  </div>
</div>

{% endblock %}
