{% extends 'base/base.html'%}
{% load staticfiles%}
{%block content%}

<div class="container">

  <div class="row">

  <div class="col-md-9 box-body">
    <h1>TESTIMONIOS</h1>
    <div class="box-body-content">
      {% if testimonio %}
      {% for test in testimonio %}
      <div class="testimonial-item">
        <div class="row">
          <div class="col-md-2">
            <div class="testimonial-client">
              <div class="">
                <img src="{% static 'media/' %}{{test.usuario.foto_perfil}}" alt="" class="photo">
              </div>

            </div>
          </div>
          <div class="col-md-10">
            <div class="">
            <p class="list-testimonial-name"><b>{{test.usuario.nombres}} {{test.usuario.apellido_paterno}} {{test.usuario.apellido_materno}}</b><i class="far fa-comments" style="float:right"></i></p>
            </div>

            <div class="list-testimonial-content">
              <p>{{test.contenido}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>


  </div>
    <!-- LOGIN FORM -->



  <div class="col-md-3 box-login small">
    {% include 'home/login.html'%}
  </div>


      <!-- <div class="col-md-3 box-login small">

      </div> -->


    <!-- END LOGIN FORM -->
  </div>
</div>

{% endblock %}
