{% load staticfiles%}
<div class="brand-logo-area">
  <div class="container">
    <div class="brand-logo">
      <div class="brand-logo-title">
        <h2>Testimonios</h2>
      </div>
      <div id="brands-logo" >
        <div class="testimonio-content text-center">
          <div class="testimonio-header">
            <div class="testimonio-photo">
              <img src="{% static 'img/fotos-usuario/7.jpg' %}" alt="" class="photo">
            </div>
          </div>
          <div class="testimonio-name">
            <h6>Usuario 1</h6>
          </div>
          <div class="testimonio-comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="testimonio-date">
            <p>17-08-2018</p>
          </div>
        </div>

        <div class="testimonio-content text-center">
          <div class="testimonio-header">
            <div class="testimonio-photo">
              <img src="{% static 'img/fotos-usuario/2.jpg' %}" alt="" class="photo">
            </div>
          </div>
          <div class="testimonio-name">
            <h6>Usuario 2</h6>
          </div>
          <div class="testimonio-comment">
            <p>lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="testimonio-date">
            <p>17-08-2018</p>
          </div>
        </div>

        <div class="testimonio-content text-center">
          <div class="testimonio-header">
            <div class="testimonio-photo">
              <img src="{% static 'img/fotos-usuario/3.jpg' %}" alt="" class="photo">
            </div>
          </div>
          <div class="testimonio-name">
            <h6>Usuario 3</h6>
          </div>
          <div class="testimonio-comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="testimonio-date">
            <p>17-08-2018</p>
          </div>
        </div>

        <div class="testimonio-content text-center">
          <div class="testimonio-header">
            <div class="testimonio-photo">
              <img src="{% static 'img/fotos-usuario/4.jpg' %}" alt="" class="photo">
            </div>
          </div>
          <div class="testimonio-name">
            <h6>Usuario 4</h6>
          </div>
          <div class="testimonio-comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="testimonio-date">
            <p>17-08-2018</p>
          </div>
        </div>
        <div class="testimonio-content text-center">
          <div class="testimonio-header">
            <div class="testimonio-photo">
              <img src="{% static 'img/fotos-usuario/5.jpg' %}" alt="" class="photo">
            </div>
          </div>
          <div class="testimonio-name">
            <h6>Usuario 5</h6>
          </div>
          <div class="testimonio-comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="testimonio-date">
            <p>17-08-2018</p>
          </div>
        </div>
        <div class="testimonio-content text-center">
          <div class="testimonio-header">
            <div class="testimonio-photo">
              <img src="{% static 'img/fotos-usuario/6.jpg' %}" alt="" class="photo">
            </div>
          </div>
          <div class="testimonio-name">
            <h6>Usuario 6</h6>
          </div>
          <div class="testimonio-comment">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="testimonio-date">
            <p>17-08-2018</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
