{% extends 'base/base_login.html'%}
{% load staticfiles %}

{%block content%}

<!-- <h1><b>Principal</b></h1> -->

<div class="row">
  <div class="col-md-4">
    <label style="font-size:20px;"><b>Invitar a más personas</b></label>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#linkModal">
      Compartir
    </button>

  </div>

</div>
<!-- Area Chart Example-->
<div class="card mb-3">
  <div class="card-header" id="saldoActual">
    <i class="fas fa-chart-area"></i>
  </div>
  <div class="card-body">
    <canvas id="MyChart" width="100%" height="30"></canvas>
  </div>
  <div class="card-footer small text-muted">Actualizado ayer a las 11:59 PM</div>
</div>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Detalle de operaciones en la cuenta de {% if user is None %}Sesion no iniciada {% else %} {{ user.username }} {% endif %}</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th id="column_id_operacion">id</th>
            <th>Fecha</th>
            <th>DNI emisor</th>
            <th>Operacion</th>
            <!-- <th>Estado</th> -->
            <th>Monto Recibido/Retirado</th>
            <th>Saldo inicial</th>
            <th>Saldo final</th>
            <th>Confirmar deposito</th>
          </tr>
        </thead>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="card-footer small text-muted">Actualizado ayer 11:59 PM</div>
  </div>
</div>




<!-- MODAL INVITACION -->

<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Enlace de invitación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <input  type="text" id="invitacion" value="http://localhost:8000/Usuario/registrar/{{usuario.dni}}" class="form-control">
        <label id="copiado" style="color:green;"></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="copiarLink()">Copiar</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL INVITACION -->

<!-- MODAL CONFIRMACION DE DEPOSITO -->
<div class="modal fade" id="modalConfirmacionReceptor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación de Depósito</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Al Seleccionar la opción "Aceptar" confirma haber recibido el monto de <b id="monto-confirmacion">S/ </b> por parte de <b id="nombre-emisor"></b></div>
      <input type="hidden" id="id-operacion" name="" value="">
      <input type="hidden" id="id-usuario" name="" value="">
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" onclick="confirmarOperacion()">Aceptar</a>
      </div>
    </div>
  </div>
</div>

{%endblock%}

{% block scripts %}

<script>
// COPIAR LINK DE INVITACION
function copiarLink(){
  var linka=document.getElementById("invitacion");
  linka.select();
  document.execCommand("copy");

$("#copiado").html("Enlace de invitación copiado");


}
//FIN COPIAR LINK DE INVITACION


  var español = {
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de  _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
  }

  $(document).ready(function() {
    detalles_operaciones();
  });

  var detalles_operaciones = function() {
    var table = $('#dataTable').DataTable({
      "processing": true,
      "ajax": {
        method: "GET",
        url: "/Deposito/operaciones/listar/",
        "dataSrc": "",
        // success: function(data) {
        //   console.log(data[0].fields.tipo_movimiento);
        // }
      },
      "columns":[
        {"data": "pk"
        // "render":function(data,type,row){
        //           var codigo='';
        //
        //           // console.log(typeof(data))
        //           if (data<10) {
        //             codigo="MO0000"+data;
        //           }else if(data>=10 & data<=99) {
        //             codigo="MO000"+data;
        //           }
        //           else if(data>=100 & data<=999) {
        //               codigo="MO00"+data;
        //           }
        //           else if(data>=1000 & data<=9999) {
        //               codigo="MO0"+data;
        //           }else {
        //               codigo="MO"+data;
        //           }
        //
        //           return codigo;
        //         }
        },
        {"data": "fields.fecha",
        "render": function(data,type,row){
                    if(type === "sort" || type === "type"){
                      return data;
                    }
                    return moment(data).format('DD/MM/YYYY');
                  }
        },
        {"data": "fields.usuario_emisor"},
        {"data": "fields.tipo_movimiento"},
        // {"data": "fields.estado"},
        {"data": "fields.monto"},
        {"data": "fields.saldo_inicial"},
        {"data": "fields.saldo_final"},
        {"defaultContent":"<button class='confirmar btn btn-primary btn-sm'>Confirmar</button>"}
        // {"label": "fields.saldo_final"}

      ],
      "createdRow": function(row, data, dataIndex) {
        if (data.fields.tipo_movimiento == 'Solicitud') {
          $(row).addClass('text-warning');
        }
        if (data.fields.tipo_movimiento == 'Deposito') {
          $(row).addClass('text-danger');
        }
        if (data.fields.estado == 2) {
          $(row).removeClass();
          $(row).addClass('text-success');
        }
        if (data.fields.estado == 3) {
          $(row).addClass('text-primary');
        }
      },
      "language": español

    });

    obtener_data_row("#dataTable",table);
  }

// $("#column_id_operacion").hide();

var obtener_data_row=function(tbody,table){
  $(tbody).on("click","button.confirmar",function(){
    var data=table.row($(this).parents("tr")).data();
    // console.log(data)

    $.ajax({
      method:"get",
      url:"/Usuario/buscar-usuario-confirmacion/"+data.fields.usuario_emisor,
      type:"json",
      success:function(response){
            $("#nombre-emisor").append(response[0].fields.nombres+" "+response[0].fields.apellido_paterno+" "+response[0].fields.apellido_materno);
            // console.log(response[0].fields.nombres)

      }
    })

    $("#id-operacion").val(data.pk);
    $("#id-usuario").val(data.fields.usuario_emisor);
    $("#monto-confirmacion").append(data.fields.monto);

    $("#modalConfirmacionReceptor").modal("show")
  });
}

function confirmarOperacion(){
  var id_operacion=$("#id-operacion").val();
  var id_usuario=$("#id-usuario").val();
  $.ajax({
    method:"get",
    url:"/Deposito/confirmar_deposito_receptor/"+id_operacion+"/"+id_usuario,
    success:function(){
      // $("#dataTable").load(" #dataTable>*","");
      location.reload();

    }

  })
  $("#modalConfirmacionReceptor").modal("hide");
}

var fecha = function(mes) {
    var meses = {
        '01': 'Enero',
        '02': 'Febrero',
        '03': 'Marzo',
        '04': 'Abril',
        '05': 'Mayo',
        '06': 'Junio',
        '07': 'Julio',
        '08': 'Agosto',
        '09': 'Setiembre',
        '10': 'Octubre',
        '11': 'Noviembre',
        '12': 'Diciembre',
    };
    return meses[mes] || 'Mes';
}

var arrTiempoAFecha = function(fecha) {
    const partes = fecha.split(/[-, T, :]/);
    return partes;
}


window.onload = function() {
  var fechas = [];
  var saldos = [];
  var ctx = document.getElementById("MyChart");
  $.ajax({
    method: 'GET',
    url: '/Deposito/operaciones/listar-chart/',
    success: function(data) {
      data.forEach(element => {
        fechas.push(moment(element.fields.fecha).format('DD/MM/YYYY'));
        // fechas.push(element.fields.fecha);
        // moment(testDate).format('MM/DD/YYYY');
        saldos.push(element.fields.saldo_final);
      });

      // SALDO ACTUAL---------------------------------------------------------------------
      const lastIdx = data.length - 1;
      $('#saldoActual')[0].innerText = 'Saldo actual: ' + data[lastIdx].fields.saldo_final;
      // ---------------------------------------------------------------------------------

      var respuesta = [];
      var labels = [];

      fechas.forEach(function(element, index, array) {
          res = arrTiempoAFecha(element);
          respuesta.push(res);
      });

      respuesta.forEach(function(element, index, array) {
          año = element[0];
          mes = fecha(element[1]) + ' ';
          dia = element[2] + ' ';
          // label = dia + 'de ' + mes + 'del ' + año;
          label=año;
          labels.push(label);
      });

      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Saldo',
                data: saldos,
                borderColor: 'rgb(28, 106, 216)',
                backgroundColor: 'rgba(28, 106, 216, 0.8)',
                borderWidth: 1
            }],
        },
        options: {
            title: {
              display: true,
              text: 'Saldo reciente',
            },
            tooltips: {
              mode: 'index',
              intersect: false,
            },
            hover: {
              mode: 'nearest',
              intersect: true,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
      });
    },
  error: function(error_data) {
      console.log("error");
      console.log(error_data)
  }
});

}

</script>

{% endblock %}
