{% extends 'base/base_login.html'%}
{% load staticfiles %}

{%block content%}

<h1>Página principal usuario</h1>

<!-- Area Chart Example-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Area Chart Example</div>
  <div class="card-body">
    <canvas id="myAreaChart" width="100%" height="30"></canvas>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Data Table Example {% if user is None %}Sesion no iniciada {% else %} {{username}} {% endif %}</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Saldo</th>
            <th>Fecha</th>
          </tr>
        </thead>
          <tr>
            <th>Saldo</th>
            <th>Fecha</th>
          </tr>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Actualizado ayer 11:59 PM</div>
</div>

{%endblock%}

{% block scripts %}

<script>

  $(document).on('ready', function(lista) {
    saldos(lista);
  });

  var saldos = function(lista) {
    var table = $('#dataTable').DataTable({
      "processing": true,
      "ajax": "/Usuario/saldo/listar/",
      "columns": [
        {"lista": "fields.saldo"},
        {"lista": "fields.fecha_creacion"}
      ]
    })
  }

  var endpoint = '/Usuario/saldo/listar/'

  $.ajax({
    method: 'GET',
    url: endpoint,
    success: function(lista) {
      console.log(lista[0].fields.saldo);
    },
    error: function(error_data) {
      console.log("error");
      console.log(error_data)
    }
  });

</script>

{% endblock %}
