{% extends 'base/base_login.html' %}
{% load staticfiles %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'usuario:principal' %}">Principal</a>
  </li>
  <!-- <li class="breadcrumb-item active">
    <a href="{% url 'solicitud:index' %}">Solicitudes</a>
  </li> -->
  <li class="breadcrumb-item active">
    Pedir ayuda
  </li>
  <!-- <li class="breadcrumb-item active">
    <a href="{% url 'solicitud:editar_solicitud' %}">Editar solicitud</a>
  </li> -->
</ol>
{% endblock %}


{% block content %}

<h1>PEDIR AYUDA</h1>
{% if form_habilitado %}
  {% if messages %}
      <div class="alert-success">
          {% for message in messages %}
              <li> {{ message }} </li>
          {% endfor %}
      </div>
  {% endif %}
  <form action="{% url 'solicitud:nueva_solicitud' %}" method="POST" id="form-solicitud">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <input type="text" name="monto" id="id_monto" value=""> -->
    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
{% else %}

<h6 class="text-success">Las solicitudes pueden realizarse 30 días después del registro.</h6>
<h6 class="text-success">Fecha de registro: {{fecha_registro|date:"d M Y"}}</h6>
<h6 class="text-success">Días restantes: {{dias_restantes}}</h6>

{% endif %}
<h5><b>PAGOS PENDIENTES POR AYUDA RECIBIDA</b></h5>
{% if pago%}

<div class="table-responsive">

<table class="table table-bordered table-hover small" id="dataTable">
  <thead>
    <tr>
      <td>FECHA ACTUAL</td>
      <td>APELLIDOS Y NOMBRES</td>
      <td>ENTIDAD BANCARIA</td>
      <td>NÚMERO DE CUENTA</td>
      <td>MONTO RECIBIDO</td>
      <td>TASA DE INTERÉS</td>
      <td>MONTO A DEPOSITAR</td>
      <td>CONFIRMAR</td>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>FECHA ACTUAL</td>
      <td>APELLIDOS Y NOMBRES</td>
      <td>ENTIDAD BANCARIA</td>
      <td>NÚMERO DE CUENTA</td>
      <td>MONTO RECIBIDO</td>
      <td>TASA DE INTERÉS</td>
      <td>MONTO A DEPOSITAR</td>
      <td>CONFIRMAR</td>
    </tr>
  </tfoot>
  <tbody>
    {% for item in pago%}
    <tr>
      <td>{{item.fecha_actual|date:"d-m-Y"}}</td>
      <td>{{item.operacion.usuario_emisor.apellido_paterno}} {{item.operacion.usuario_emisor.apellido_materno}} {{item.operacion.usuario_emisor.nombres}}</td>
      <td>{{item.operacion.usuario_emisor.entidad_bancaria}}</td>
      <td>{{item.operacion.usuario_emisor.numero_cuenta}}</td>
      <td>{{item.operacion.monto}}</td>
      <td>{{item.tasa_interes}} %</td>
      <td>{{item.monto_actual}}</td>
      <td class="text-center"><button type="button" class="btn btn-primary btn-sm" name="button" onclick="confirmarDepositoModal({{item.id}},{{item.operacion.usuario_emisor.id}},{{item.monto_actual}})"> Confirmar </button> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endif %}

<!-- Modal de confirmacion-->
<div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmacionModalLabel"><b>Confirmación de depósito</b></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">La confirmación se realiza luego de depositar el dinero en la cuenta bancaria correspondiente, si ya lo hizo de click en "Aceptar".
        <input type="text" name="" id="id_confirmacion_modal" value="">
        <input type="text" name="" id="dni_receptor_confirmacion_modal" value="">
        <input type="text" name="" id="monto_confirmacion_modal" value="">
      </div>
      <div class="modal-footer">


        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" onclick="confirmarDeposito()">Aceptar</button>

      </div>
    </div>
  </div>
</div>
<!-- Fin modal de confirmacion -->

{% endblock %}

{% block scripts %}

<script>

const validacion = document.getElementById('id_monto');

validacion.onchange = function() {
  var x = validacion.value;
  validacion.value = parseFloat(x).toFixed(2);
};

$("#id_monto").focus();


function confirmarDepositoModal(id,dni_receptor,monto){

  $("#confirmacionModal").modal("show");
  $("#id_confirmacion_modal").val(id);
  $("#dni_receptor_confirmacion_modal").val(dni_receptor);
  $("#monto_confirmacion_modal").val(monto);
}

function confirmarDeposito(){
  $("#confirmacionModal").modal("hide");
  var id=$("#id_confirmacion_modal").val();
  var dni_receptor=$("#dni_receptor_confirmacion_modal").val();
  var monto=$("#monto_confirmacion_modal").val();

  $.ajax({
    type: 'get',
    url: "/Deposito/confirmar_pago/"+id+"/"+dni_receptor+"/"+monto,
    beforeSend:function(objeto){
                $('#div_carga').css({display:'block'});
    },
    success:function(){
      location.reload();
    },
    complete:function(){
      $('#div_carga').css('display','none');
    }
  })
}
</script>

{% endblock %}
