*{
  font-family: 'calibri';

}
label, a{
  font-size: 12px;
}
ul>li>a{
  font-size: 20px;
}

/* .row{
  background-color: #FFFFFF;
} */

.form-control-p {
  /* display: block; */
  width: 100%;
  padding: 0.20rem 0.55rem;
  font-size: 13px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 20px;
}


.box-body{
  margin-top: 10px;

}
.box-body-content{
  height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-politicas{
  height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
}

.box-login{
  font-family: 'calibri';
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgb(7, 168, 201);
  padding-bottom: 10px;
  padding-top: 10px;
  height: 100%;

}

.box-login label{
  font-weight: bold;
  font-size: 14px;
  margin-bottom: -10px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    padding: 15px;
    font-size: 15px;
    text-align: justify;
    height: 300px;
    word-wrap: break-word;
    overflow: hidden;
}

.panel-body-sec {
    padding: 15px;
    font-size: 15px;
    text-align: justify;
    height: 100px;
    word-wrap: break-word;
    overflow: hidden;
}

.panel-heading{
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 17px;
}

.panel-heading-secundario{
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 17px;
  color: #fff;
  background-color: #337ab7;
}

.panel-primary>.panel-heading{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-primary {
    border-color: #337ab7;
}

.panel-info>.panel-heading{
    color: #fff;
    background-color: #17A2B8;
    border-color: #17A2B8;
}

.panel-info {
    border-color: #17A2B8;
}

.testimonio-content{
  border-color: #9e99a1;
  padding: 10px;
  border-radius: 20px;
}

.testimonio-header{
  text-align: center;
  margin: 0 auto;
}

.testimonio-photo{
  width:80px;
  height:80px;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.testimonio-photo > .photo{
  width:100%;
  height: 100%;
  border-radius: 100%;
}

.testimonio-name{
  font-weight: bold;
}

.testimonio-name > h6{
  font-weight: bold;
}

.testimonio-comment{
  text-align: center;
  font-size: 12px;
}

.testimonio-date{
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

#resultados-busqueda{
  font-size: 14px;
}

input[type="file"]{
  font-size: 12px;
}

/* USUARIO/PRINCIPAL */
.main-box-welcome{
  height:auto;
  padding-top:15px;
  padding-bottom:10px;
  background-color: rgb(50, 48, 48)
}

.main-welcome{
  color:white;
}

.usuario-perfil .label-perfil{
  font-weight: bold;

}

/* ESTILOS CARD */
.bsqd-card{
  background-color: rgb(103, 205, 212);
  border-radius: 3px;
  border:1px solid rgb(14, 128, 164);
  margin-bottom: 2px;
  padding-right: 5px;
}

.modal-header-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    border-bottom: 1px solid #e9ecef;

}

.close-p {
  float: right;
  font-size: 20px;
  margin-left: -13px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close-p:hover, .close-p:focus {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

.close-p:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.modal-header-p .close-p {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.select-p {
  float: left;
  color: blue;


}

.select-p:hover{
  cursor: pointer;

}

.modal-header-p .select-p {
  color: red;
}

.list-testimonial-content >p{
  font-family: "Open sans";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #454545;
}

.list-testimonial-name{
  color: rgb(7, 168, 201);
}

.notificacion-leido{
  background-color: lightgray;
}
.notificacion-leido:hover{
  /* background-color: rgb(18, 94, 136); */
  background-color: lightblue;
  color:white;
  cursor:pointer;
}
.notificacion-no-leido:hover{
  /* background-color: rgb(18, 94, 136); */
  background-color: lightblue;
  cursor:pointer;
}

.box-notificacion{
  max-height: 418px;
  overflow-y: auto;
  overflow-x: hidden;

}

.box-notificacion > a{
  border:1px solid lightblue;
  margin-top: 1px;

}

#id_monto{
  border: none;
  color:#3fb3de;
  font-weight: bold;
}

/* DISEÑO DE LAS TABLAS */
tfoot, thead{
  background-color: rgb(32,20,22);
  color: white;
}

.text-warning-p{
  color: rgb(250,82,10);
}
