{% extends 'base/base_login.html'%}
{% load staticfiles %}
<!-- falta validar las nuevas contraseñas -->
{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'usuario:principal' %}">Principal</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'usuario:perfil' %}">Perfil</a>
  </li>
  <li class="breadcrumb-item active">
    Cambiar contraseña
  </li>
</ol>
{% endblock %}

{% block content %}
<h4>Cambio de contraseña</h4>
<h5><strong>Usuario: {{ user.username }}</strong></h5>
<form action="{% url 'usuario:cambio_contraseña' %}" method="POST">
{% csrf_token %}
    <div class="">
        <div class="col-md-12">
        <div class="">
            <label class="label-perfil" for="id_old_password">Contraseña actual:</label>
            {{ form.old_password }}
        </div>
        <div class="">
            <label class="label-perfil" for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}
            <ul>
                <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                <li>Su contraseña debe contener al menos 8 caracteres.</li>
                <li>Su contraseña no puede ser una clave utilizada comunmente.</li>
                <li>Su contraseña no puede ser completamente numérica.</li>
            </ul>
        </div>
        <div class="">
            <label class="label-perfil" for="id_new_password2">Confirmar nueva contraseña:</label>
            {{ form.new_password2 }}
        </div>
        <hr>
        <input type="submit" name="" value="Guardar" class="btn btn-primary btn-sm">
        </div>
    </div>
</form>

{% endblock %}