{% extends 'base/base_login.html'%}
{% load staticfiles %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'usuario:principal' %}">Principal</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'usuario:perfil' %}">Perfil</a>
  </li>
  <li class="breadcrumb-item active">
    Cambiar contraseña
  </li>
</ol>
{% endblock %}

{% block content %}
<h4>Cambio de contraseña</h4>
<h5><strong>Usuario: {{ user.username }}</strong></h5>
<form action="{% url 'usuario:cambio_contraseña' %}" method="POST">
{% csrf_token %}
    <div class="col-md-5">
        <!-- CAMBIO DE EMAIL -->
        <!-- <div class="">
            <label class="label-perfil" for="email">Dirección de correo electrónico:</label>
            <input type="text" name="email" value="{{user.email}}" id="email" class="form-control-p">
        </div> -->
        <div class="">
            <label class="label-perfil" for="password">Contraseña actual:</label>
            <input type="password" name="password" id="password" class="form-control-p" placeholder="Contraseña actual">
        </div>
        <div class="">
            <label class="label-perfil" for="nuevo-password">Nueva contraseña:</label>
            <input type="password" name="nuevo-password" id="nuevo-password" class="form-control-p" placeholder="Confirmar contraseña">
        </div>
        <div class="">
            <label class="label-perfil" for="nuevo-password2">Confirmar nueva contraseña:</label>
            <input type="password" name="nuevo-password2" id="nuevo-password2" class="form-control-p" placeholder="Confirmar contraseña">
        </div>

    </div>
</form>
{% endblock %}