{% extends 'base/base.html' %} {% load staticfiles%}{% block header %} {% endblock %} {% block content %}
<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-1 box-body">

        </div>
        <div class="col-md-10 box-login small">
            <h4>Registrar Usuario</h4>
            <hr>
            <form enctype="multipart/form-data" method="POST" action="" class="col-md-12">
            <div class="row">
              {% csrf_token %}

              <div class="col-md-12">
                <h5 class="text-primary">Datos Personales</h5>
                <div class="row">
                  <div class="col-md-3">
                    <label for="">Nombres:</label>
                    <!-- {{ formUsuario.nombres }} -->
                    <input type="text" name="nombres" class="form-control-p" required id="nombres" placeholder="Nombre" autofocus>

                  </div>
                  <div class="col-md-3">
                    <label for="">Apellido paterno:</label>
                    {{ formUsuario.apellido_paterno }}
                  </div>
                  <div class="col-md-3">
                    <label for="">Apellido materno:</label>
                    {{ formUsuario.apellido_materno }}
                  </div>
                  <div class="col-md-3">
                    <label for="">DNI:</label>
                    {{ formUsuario.dni }}
                  </div>
                </div>

              </div>

              <div class="col-md-12">
                <h5 class="text-primary">Datos de la Cuenta</h5>
                <div class="row">
                  <div class="col-md-3">
                    <label for="">Nombre de usuario:</label>
                    <input type="text" name="username" class="form-control-p" required id="username" placeholder="Nombre de usuario">
                    <div id="mensaje-username"></div>
                  </div>
                  <div class="col-md-3">
                    <label for="email">Dirección de correo electrónico:</label>
                    <input type="email" name="email" class="form-control-p" required placeholder="Dirección de correo electrónico" id="email">
                    <div id="mensaje-email"></div>
                  </div>
                  <div class="col-md-3">
                    <label for="password1">Contraseña:</label>
                    <input type="password" name="password1" class="form-control-p" required placeholder="Contraseña" id="password1">
                  </div>
                  <div class="col-md-3">
                    <label for="password2">Confirmar Contraseña:</label>
                    <input type="password" name="password2" class="form-control-p" required placeholder="Confirmar contraseña" id="password2">
                  </div>
                  <div class="col-md-3">
                    <label for="">Foto de perfil</label>
                    {{ formUsuario.foto_perfil }}
                  </div>
                  <div class="col-md-3">
                    <label for="">Entidad bancaria:</label>
                    {{ formUsuario.entidad_bancaria }}
                  </div>
                  <div class="col-md-3">
                    <label for="">Número de cuenta:</label>
                    {{ formUsuario.numero_cuenta }}
                    <!-- <input type="text" name="numero_cuenta" pattern="[A-Za-z0-9_-]{1,15}" class="form-control-p" required placeholder="Número de cuenta" id="id_numero_cuenta"> -->
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <h5 class="text-primary">Datos del Referente</h5>


                {% if dni_referido %}
                <div class="row">
                  <div class="col-md-3">
                    <input type="hidden" id="id_dni_referido_def" name="dni_referido" value="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5" id="result-bsqd-def"></div>
                </div>
                {% else %}
                <div class="row">

                  <div class="col-md-3">
                    <label for="">Buscar usuario referente:</label>
                    <input type="text" id="busqueda" name="busqueda" class="form-control-p" placeholder="Nombres del referente">
                  </div>
                  <div class="col-md-3">
                    {{ formUsuario.dni_referido }}
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-5" id="result-bsqd"></div>
                </div>

                {% endif %}

              </div>



            </div>
            <hr>
              <div class="form-group col-md-12">
                <input type="checkbox" name="politicas" id="id_politicas"> Acepto las <a href="" data-toggle="modal" data-target="#politicasModal">políticas de privacidad</a> <br>
                <button id="boton" type="submit" class="btn btn-primary btn-sm" disabled>Guardar</button>
                <a href="{% url 'home:index' %}">Ya tengo una cuenta</a>
              </div>
            </form>

        </div>
    </div>

</div>

<input type="hidden" name="dni_referente_select" id="id_dni_referente_select" value="">



<!-- POLITICAS DE PRIVACIDAD -->
<div class="modal" tabindex="-1" role="dialog" id="politicasModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>Políticas de Privacidad</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body responsive">

        <div class="content-politicas text-justify">
            {% include 'usuario/registrar/politicas.html'%}
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Aceptar</button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
  $('#id_numero_cuenta').keypress(function (e) {
    // var valor=$('#id_numero_cuenta').val().toUpperCase();
    // e.value=valor;
    if (e.charCode > 47 && e.charCode < 91)
    {
      return true;
    } else if(e.charCode==45){
      return true;
    }else{
      return false;
    }
  });
  $('#id_dni').keypress(function (e) {

    if (e.charCode > 47 && e.charCode < 58) return true;

    return false;
  });
});

{% if dni_referido %}

  $(function(){
    $.ajax({
        type: "POST",
        url: "/Usuario/buscar-usuario/",
        data: {
            'busqueda': {{dni_referido}},
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
        },
        success:searchSuccess,
        dataType: 'json'
    });
  })
{% endif %}


//AUTOCOMPLETADO
$( "#busqueda" ).autocomplete({
  source: function(request,add){
    $.ajax({
      type:'POST',
      url: "/Usuario/buscar-usuario/",
      data: {
          'busqueda': $('#busqueda').val(),
          'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      dataType:'json',
      dataFilter:function(data){return data;},
      success:function(data){
      // console.

        var suggestions = [];
            $.each(data, function(i, val) {
                suggestions.push({
                    label: val.fields.nombres+' '+val.fields.apellido_paterno+' '+val.fields.apellido_materno,
                    // zzz: val.fields.dni
                    zzz: val.pk
                });
            });
            add(suggestions);


      }
    })
  },
  select: function(event, ui) {
          // alert(ui.item.zzz);

          $("#id_dni_referente_select").val(ui.item.zzz);
          $('#id_dni_referido').val(ui.item.zzz);
          cargarCardSeleccionado(ui.item.zzz);

        },
  open: function() {
      $("ul.ui-menu").width($(this).innerWidth());
      // $("ul.ui-menu").height($(this).innerHeight());
      $("ul.ui-menu").css("height","auto");
    }
});
//FIN AUTOCOMPLETADO



  // busqueda de Referente v2



    function cargarCardSeleccionado(dni) {
      console.log(dni);
                $.ajax({
                    type: "POST",
                    url: "/Usuario/buscar-usuario-id/",
                    data: {
                        'busqueda': dni,
                        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                    },
                    success:searchSuccess,
                    dataType: 'json'
                });

    };

    function searchSuccess(data, textStatus, jqXHR) {
      console.log(data);

      $('#result-bsqd').html("")

      for (let i in data) {

        result='<div class="bsqd-card" id="card-'+data[i].pk+'">'+
                '<div class="row">'+
                    '<div class="col-md-4 col-xs-4" style="width: 200px;">'+
                      '<img src="{% static "media/" %}'+data[i].fields.foto_perfil+'" alt="" style="width: 100px; height: 100px;">'+
                    '</div>'+
                    '<div class="col-md-8 col-xs-8">'+
                      '<br>'+
                      '<p><b>Nombres: '+data[i].fields.nombres+' '+data[i].fields.apellido_paterno+' '+data[i].fields.apellido_materno+'</b></p>'+
                      '<p><b>DNI: '+data[i].fields.dni+'</b></p>'+
                    '</div>'+
                 '</div>'+
                '</div>';

        $('#result-bsqd').append(result);


        $('#result-bsqd-def').append(result);

      }
      {% if dni_referido %}
      // $('#id_dni_referido_def')[0].value = {{dni_referido}};
      $('#id_dni_referido_def')[0].value = {{referido.id}};
      {% endif %}
    };

    function removeCard(idCard){
      $("#card-"+idCard).remove();

    }

    function elegirReferente(dni){
      $('#id_dni_referido')[0].value = dni;

      $(".bsqd-card").remove();
    }
// ------------ fin busqueda de Referente v2------------



    // Validación de username
    $(function() {
      $('#username').keyup(function() {
        var txt = $(this).val();
        if (txt === '') { }
        else {
          $.ajax({
            type: "POST",
            url: "/Usuario/validar-username/",
            data: {
              'username': $('#username').val(),
              'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
            },
            success: validacionUsername,
            dataType: 'html'
          });
        }
      });
    });

    function validacionUsername(data, textStatus, jqXHR) {
      $('#mensaje-username').html(data);
      var msjUsername = $('#mensaje-username')[0].children[0].id;
      /*if (msjUsername === "msj-username-libre") {
        $('#boton')[0].disabled = false;
      } else {
        $('#boton')[0].disabled = true;
      }*/
    };

    // Validación de email
    $(function() {
      $('#email').keyup(function() {
        var email = $(this).val();
        if(email === '') { }
        else {
          $.ajax({
            type: "POST",
            url: "/Usuario/validar-email/",
            data: {
              'email': $('#email').val(),
              'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken").val()
            },
            success: validacionEmail,
            dataType: 'html'
          });
        }
      });
    });

    function validacionEmail(data, textStatus, jqXHR) {
      $('#mensaje-email').html(data);
      var msjEmail = $('#mensaje-email')[0].children[0].id;
      /* if (msjEmail === 'msj-email-libre') {
        $('#boton')[0],disabled = false;
      } else {
        $('#boton')[0],disabled = true;
      } */
    }


    $("#id_politicas").on("change",function(){

      if($('input:checkbox[name=politicas]:checked').val()=='on'){
        $('#boton')[0].disabled = false;
      }
    else{
        $('#boton')[0].disabled = true;
      }
    })

</script>

{% endblock %}
