{% extends 'base/base_login.html' %}
{% load staticfiles %}


{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'usuario:principal' %}">Principal</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="{% url 'deposito:index' %}"></a>Depósitos
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'deposito:deposito_usuario' %}">Nuevo deposito</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="{% url 'deposito:deposito_solicitud' %}">Respuesta a prestamos</a>
  </li>
</ol>
{% endblock %}

{% block content %}

<h1>Nuevo deposito</h1>

<form action="{% url 'deposito:deposito_solicitud' %}" method="POST">
    {% csrf_token %}
    <label for="monto">Monto</label>
    <input type="number" id="monto" class="form-control-p" name="monto" placeholder="0.00" step="0.01">
    <input type="submit" value="Guardar" class="btn btn-primary">
</form>

{% endblock %}

{% block scripts %}

<script>

</script>

{% endblock %}
