{% extends 'base/base_login.html' %}
{% load staticfiles %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'usuario:principal' %}">Principal</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="{% url 'deposito:index' %}"></a> Depósitos
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'deposito:deposito_usuario' %}">Nuevo deposito</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="{% url 'deposito:deposito_solicitud' %}">Respuesta a prestamos</a>
  </li>
</ol>
{% endblock %}

{% block content %}

<h1>Index Depósito</h1>

Solicitudes no satisfechas valoradas en {{ monto }}

{% endblock %}

{% block scripts %}
{% endblock %}
