{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css'%}">
    <script src="{% static 'js/jquery-3.1.0.min.js'%}"></script>

  </head>
  <body>

    <div class="container" style="border:1px solid lightblue;padding-bottom:20px;">
      <div class="text-center text-primary">
        <div class="">
          <img src="{% static 'img/fincomun.jpg'%}" alt="" width="20%">
        </div>
        <h4>{% block titlepage %}{% endblock %}</h4>
        <hr>
      </div>
      <div class="">
        {% block content %}{% endblock %}
      </div>
    </div>
    <script type="text/javascript">
    	$("#id_username_or_email").focus();
      $("#id_password1").focus();
    </script>
  </body>
</html>
